*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,body{
  height: 100%;
  width: 100%;
  
}

.parent{
  min-height: 100vh;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.card{
  height: 330px;
  width: 280px;
  background-color: white;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #dadada;
  box-shadow:2px 3px #969494;
}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
  object-fit: cover;
}
.top button{
  border: 1px solid #dadada;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 4px 8px ;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #dadada;
}
.center h3{
  font-size: 17px;
  font-weight: 500;
}
.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}
.center h2{
  font-size: 20px;
}
.center .tag{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}
.center .tag h4{
  font-size: 12px;
  background-color: #dadada;
  color: #111;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 5px;
}
.bottom{
  border-top: 2px solid #dadada;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}
.bottom button{
  background-color: #111;
  color: #dadada;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 400;
}
.bottom h3{
  font-size: 17px;
}
.bottom p{
  font-size: 10px;
  color: #8b8b8b;
}